extends ../layout/common2.pug

block content
	.row.userPage
		.col-12.col-md-3
			#v-pills-tab.nav.flex-column.nav-pills
				.user-img.d-flex.justify-content-center
					a(href='/users/cart')
						if user.avatar
							img.rounded-circle(src=user.avatar, alt='user')
						else
							img.rounded-circle(src='https://picsum.photos/200/300', alt='user')
				span.text-center
					a(href='/users/setting')=user.userName
						i.fas.fa-pen.ml-2
				.nav-opts
					a.nav-link(href="/users/setting") Cài đặt tài khoản
				.nav-opts
					a.nav-link(href="/books/bookManagement") Quản lý sách
				.nav-opts
					a.nav-link(href="/books/bookSetting") Tạo sách
				.nav-opts
					a.nav-link(href="/books/bookUpdate") Sửa sách
		.col-12.col-md-8.mr-5
			.content
				.items
					h2 Bảng quản lý sách
					table.table
						thead
							tr
								th(scope='col', rowspan='2') Sách đang bán
								th.text-center(scope='col', colspan='2') Số lượng
								th(scope='col', rowspan='2') Đơn giá
								th(scope='col', rowspan='2') Chọn
							tr
								th Tồn
								th Đã bán
						tbody
							if books
								each book in books
									tr
										td(scope='row')=book.title
										td 2
										td 1
										td=book.price
										td
											a.btn.btn-success.mr-1(href='/books/bookSetting/'+book._id) Sửa
											a.btn.btn-danger(href='/books/delete/' + book._id) Xóa
				.shopCreate.d-flex.justify-content-center.mb-4
					button.btn.btn-primary Cập nhật
