extends ../layout/common2.pug

block content
	
	if errors
		each error in errors
			.alert.alert-danger=error
	.row.userPage
		.col-12.col-md-3
			#v-pills-tab.nav.flex-column.nav-pills
				.user-img.d-flex.justify-content-center
					if user.avatar
						a(href='/users/setting')
							img.rounded-circle(src=user.avatar, alt='user')
					else
						a(href='/users/cart')
							img.rounded-circle(src='https://picsum.photos/200/300' alt='user')
				span.text-center
					a(href='/users/setting')=user.userName
						i.fas.fa-pen.ml-2
				.nav-opts
					a.nav-link(href="/users/setting") Cài đặt tài khoản
				.nav-opts
					a.nav-link(href="/books/bookManagement") Quản lý sách
				.nav-opts
					a.nav-link(href="/books/bookSetting") Tạo sách
				.nav-opts
					a.nav-link(href="/books/bookUpdate") Sửa sách
		.col-12.col-md-9
			form(action='/books/bookSetting', method = "POST" enctype='multipart/form-data')
				h3 Cập nhật thông tin sách
				.form-row.flex-column
					.form-group
						label(for='bookTitle') Tên sách
						input#Title.form-control(type='text', name='title', placeholder= book.title)
					.form-group
						label(for='desc') Mô tả
						input#bookDesc.form-control(type='text', name='desc', placeholder= book.desc)
					.form-group
						label(for='desc') Tác giả
						input#bAuthor.form-control(type='text', name='author',placeholder= book.author)
					.form-group
						label(for='price') Giá bán
						input#bookPrice.form-control(type='number', name='price',placeholder= book.price)
					.form-group
						label(for='amount') Số lượng
						br
						input#amount(type='number', name='amount', placeholder= book.amount)
					.dropdown
						label(for='category') Chọn thể loại:
						select#cate(name='category')
							option(value='truyện ngắn') Truyện ngắn
							option(value='truyện dài') Truyện dài
							option(value='tiểu thuyết') Tiểu thuyết
							option(value='ngôn lù') Ngôn tình
							option(value='PTKN') Phát triển kĩ năng
							option(value='it') IT
							option(value='ngoại ngữ') Ngoại ngữ
					br
					label(for='bReview') Review
					br
					textarea#bookReview(name='bReview', rows='4', cols='50', placeholder= book.bReview)
				.form-group
					label(for='avatar') Avatar
					br
					input#avatarURL(type='file', name='cover')
				.shopCreate.d-flex.justify-content-center.mb-4
					button.btn.btn-primary Cập nhật

