extends ../layout/common2.pug

block content

	.bookClass.text-center Sách bán chạy
	.collection.d-flex.justify-content-around.ml-5
		.row
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem
	.bookClass.text-center Gợi ý cho bạn
	.collection.d-flex.justify-content-around.ml-5
		.row
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem
			.col-12.col-sm-6.col-md-3
				.card.mt-5.mr-4
					img.card-img-top(src='https://picsum.photos/200/200', alt='...')
					.card-body
						h5.card-title.text-center Tên sách
						p.card-text.text-center
							strong Giá : 100,000
						.group-btn.d-flex.flex-wrap
							a.btn.btn-primary.mr-1(href='#') Chi tiết
							a.btn.btn-success.mr-1(href='#') Mua
							a.btn.btn-warning.mr-0(href='#') Xem

			

	


