extends ../layout/common.pug

block content
    .container-fluid
  // start login
  .overlay
    .d-flex.justify-content-center.form-login
      form(action='#' method='POST')
        h1.text-center.sign-up.mt-3 &Dstrok;&abreve;ng nh&#x1EAD;p
        .form-group.gr-content
          label(for='inputEmail4') Email
          input#inputEmail4.form-control(name='userEmail' type='email' placeholder='Email')
        .form-group.gr-content
          label(for='inputPassword4') Password
          input#inputPassword4.form-control(name='userPasswword' type='password' placeholder='Password')
        p.text-white.text-center
          a.text-white(href='#') &#x9;Ch&#x1B0;a c&oacute; t&agrave;i kho&#x1EA3;n?
        p.text-center Kho s&aacute;ch_N&#x1A1;i &#x1B0;&#x1A1;m m&#x1EA7;m nh&#x1EEF;ng gi&#x1EA5;c m&#x1A1;
        br
        .footer.d-flex.justify-content-center.mb-5
          button.btn.btn-primary(type='submit')
            | &Dstrok;&abreve;ng nh&#x1EAD;p
            i.fab.fa-telegram-plane.ml-2

