extends ../layout/common.pug

block content
    .container-fluid
      .overlay
        if errors
          each error in errors
            .alert.alert-danger= error
      .d-flex.justify-content-center.form-login
        form(action='/users/login' method='POST')
          h1.text-center.sign-up.mt-3 Đăng nhập
          .form-group.gr-content
            label(for='inputEmail4') Email
            input#inputEmail4.form-control(name='userEmail' type='email' placeholder='Email')
          .form-group.gr-content
            label(for='inputPassword4') Password
            input#inputPassword4.form-control(name='userPassword' type='password' placeholder='Password')
          p.text-center
            a.text-white(href='./signUp') Chưa có tài khoản?
          p.text-center Kho sách_Nơi ươm mầm những giấc mơ
          br
          .footer.d-flex.justify-content-center.mb-5
            button.btn.btn-primary(type='submit')
              | Đăng nhập
              i.fab.fa-telegram-plane.ml-2

