extends ../layout/common2.pug

block content

	.row.userPage
		.col-12.col-md-3
			#v-pills-tab.nav.flex-column.nav-pills
				.user-img.d-flex.justify-content-center
					if user.avatar
						a(href='/users/setting')
							img.rounded-circle(src=user.avatar, alt='user')
					else
						a(href='/users/cart')
							img.rounded-circle(src='https://picsum.photos/200/300' alt='user')
				span.text-center
					a(href='/users/setting')=user.userName
						i.fas.fa-pen.ml-2
				.nav-opts
					a.nav-link(href="/users/setting") Cài đặt tài khoản
				.nav-opts
					a.nav-link(href="/users/cart") Giỏ sách
				.nav-opts
					a.nav-link(href="/books/bookManagement") Sang shop
		.col-12.col-md-8.mr-5
			.content
				.pane
					.items
						h2.text-center Thông tin thanh toán
						.form-row.d-flex.justify-content-around.mt-5
							.form-group
								label(for='address') Địa chỉ mặc định
								br
								a.text-dark(href='/users/setting')=user.userAddress 
									i.fas.fa-pen.ml-2
							.dropdown
								button#dropdownMenuButton.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									| Phương thức thanh toán
								.dropdown-menu(aria-labelledby='dropdownMenuButton')
									a.dropdown-item(href='#') COD_Thanh toán khi nhận hàng
									a.dropdown-item(href='#') Momo
									a.dropdown-item(href='#') AirPay
							.form-group
								label(for='address') Thành tiền
								p.display-4
									strong #{func(sum)}
			.shopCreate.d-flex.justify-content-center.mb-4
				button.btn.btn-primary Xác nhận


